 	<div>
 		<h1>Order</h1>
         <form ng-submit="checkOut()">
         	<div id = "firstName">
         		<label>First Name:</label><br>
            	<input type="text" ng-model="firstName" placeholder="First Name">
            </div>
         	<div id = "lastName">
         		<label>Last Name:</label><br>
            	<input type="text" ng-model="lastName" placeholder="Last Name">
            </div>
         	<div id = "address">
         		<label>Address:</label><br>
            	<input type="text" ng-model="address" placeholder="Address">
            </div>
         	<div id = "zip">
         		<label>Zip:</label><br>
            	<input type="text" ng-model="zip" placeholder="Zip">
            </div>
         	<div id = "city">
         		<label>City:</label><br>
            	<input type="text" ng-model="city" placeholder="City">
            </div>
         	<div id = "phone">
         		<label>Phone:</label><br>
            	<input type="text" ng-model="phone" placeholder="Phone">
            </div>
         	<div id = "mail">
         		<label>Mail:</label><br>
            	<input type="text" ng-model="mail" placeholder="Mail">
            </div>            
            <button type="submit">Order</button> 
        </form>
    </div>     
    <cartsection></cartsection>           
